.navbar{
    background-color: rgba(50, 50, 83, 0.307) !important;
}
.page-container{
    padding: 1rem;
}
.content-wrapper{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem ;
    text-align: center;
}
.btn{
    border-radius: 1rem 2rem;
    padding: 1rem 2rem;
    font-size: 1rem 2rem;
}

@media screen and (min-width:767px ) {
    .content-wrapper{
        text-align: left;   
    }        
}


